<div class="panel panel-default" style="max-width: 400px;margin:0 auto;">
  <div class="panel-heading">中奖信息查询</div>
  <div class="panel-body">
    <form action="/admin/prizes/search" method="GET" >
      <div class="form-group">
        <label for="tel">手机号码</label>
        <input type="tel" class="form-control" id="tel" name="tel" autofocus>
      </div>
      <input type="submit" value="查询" class="btn btn-success" style="width:100%;">
    </form>
  </div>
</div>
