<div style="background:#fffaa4;text-align:center;border:1px solid #000;overflow:hidden;margin-left:15px;margin-right:15px;margin-top:5px;">
  <div class="col-xs-6" style="padding: 3px;">所有分享</div>
  <div class="col-xs-6" style="padding: 3px;background:#000;color:#fff;">我要分享</div>
</div>
<section id="message_section" class="container">
  <div>
    <h2 style="margin: 6px 0;">
      <%= image_tag "title.png"%>
    </h2>
    <div class="row" style="border: 1px solid #c8be43;border-bottom: 2px solid #c8be43;margin:0 5px;background:#fffaa4;padding: 5px 0;padding-bottom:10px;">
      <div style="overflow:hidden;">
        <textarea id="text_message" class="col-xs-8" style="height:120px;padding:5px 10px;resize: none;background:#fffaa4;border: none;overflow: auto;outline: none;" placeholder="（不超过50字）"></textarea>
        <div class="col-xs-4" style="padding-top: 10px;padding-right:10px;">
          <%= image_tag "image.png", id: "upload_btn"%>
        </div>
      </div>
      <div style="overflow:hidden;">
        <div class="col-xs-4">
          <img class="preview" src="" id="preview_1" style="display:none;" />
        </div>
        <div class="col-xs-4">
          <img class="preview" src="" id="preview_2" style="display:none;" />
        </div>
        <div class="col-xs-4">
          <img class="preview" src="" id="preview_3" style="display:none;" />
        </div>
      </div>
      <input type="file" id="image_upload" style="visibility: hidden;width:1px;" onchange="uploader.upload(event);">
    </div>
  </div>
  <button onclick="confirm()" class="pull-right confirm-btn"></button>
</section>

<section id="user_info_section" class="container" style="text-align:center;display:none;">
  <form action="/shares" method="POST" id="share_form">
    <input type="hidden" name="share[content]" id="content">
    <input type="hidden" name="share[image_1]" id="image_1">
    <input type="hidden" name="share[image_2]" id="image_2">
    <input type="hidden" name="share[image_3]" id="image_3">
    <div class="input-group">
      <label>输入您个性的昵称</label><br>
      <input type="text" name="share[name]" id="name">
    </div>
    <div class="input-group">
      <label>输入您的手机号码</label><br>
      <input type="tel" name="share[tel]" id="tel">
    </div>
    <div class="input-group">
      <button onclick="return submitShare()" class="send-btn"></button>
    </div>
  </form>
</section>

<div class="block-layer"></div>
<p class="block-layer-text">正在上传图片，请稍后...</p>
