html, body {
    width:1152px;
    height: 576px;
    background: #fff001;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
section {
    display: inline-block;
}
.cm-top {
    position: absolute;
    top:30px;
    left:42px;
    width:326px;
    height:293px;
    background: image_url("screen1.png");
}
.cm-bottom {
    position: absolute;
    top:338px;
    left:60px;
    width:300px;
    height:198px;
    background: image_url("screen2.png");
}
section {
    vertical-align: top;
}
.share {
    width: 345px;
    height:497px;
    border:4px solid #231814;
    background:#fffaa4;
    position: absolute;
    top: 42px;
    h1 {
        margin:22px 35px;
        margin-bottom: 0;
        max-width: 260px;
        font-size: 24px;
        line-height: 35px;
        overflow:hidden;
    }
    p {
        margin: 0 35px;
        font-size: 18px;
        line-height: 28px;
    }
    img {
        display: block;
        width: 100%;
        max-width: 200px;
        max-height: 300px;
        margin: 20px auto;
    }
}

.block-layer {
    background: #fff001;
    border-top:4px solid #231814;
    width: 701px;
    height: 500px;
    position: absolute;
    top: 542px;
    left: 408px;
    z-index: 1000;
}